body{
	background-color: Azure;
}
h1{
	text-align: center;
}
h1, h2, h3 {
	color: brown;
}

table th {
	background-color: MintCream;
}

table tr:nth-of-type(odd) {
	background-color: lightblue;
}
table tr:nth-of-type(even) {
	background-color: LightSkyBlue;
}
p.error {
	color: red;
}

p.exito {
	color: green;
}
label{
	display: inline-block;
	min-width: 80px;
}
input {
	display: block;
	margin: 2px; 
}
footer {
	text-align: right;
}
